@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.starter-containter {
   
    background-color: #566D7E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    padding: 3px;
}
.logo-name-container {
  display: flex;
}
.logoName {
    color: rgb(255, 255, 255);
}
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
/* ============================ */
/* <style for bg> ======== */
.background-starter {
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #000000;
  background: rgba(74, 74, 74, 0.39);
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(15px);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* <style for menu__icon> ======== */
.menu__icon {
  width: 32px;
  height: 32px;
  padding: 6px;
}

.menu__icon span {
  display: block;
  width: 100%;
  height: 0.125rem;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: background-color .4s;
  position: relative;
}

.menu__icon span+span {
  margin-top: .375rem;
}

.menu__icon span:nth-child(1) {
  animation: ease .8s menu-icon-top-2 forwards;
}

.menu__icon span:nth-child(2) {
  animation: ease .8s menu-icon-scaled-2 forwards;
}

.menu__icon span:nth-child(3) {
  animation: ease .8s menu-icon-bottom-2 forwards;
}

.menu__icon:hover span:nth-child(1) {
  animation: ease .8s menu-icon-top forwards;
}

.menu__icon:hover span:nth-child(2) {
  animation: ease .8s menu-icon-scaled forwards;
}

.menu__icon:hover span:nth-child(3) {
  animation: ease .8s menu-icon-bottom forwards;
  background-color: rgb(255, 59, 48);
}

@keyframes menu-icon-top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: .5rem;
    transform: rotate(45deg);
  }
}

@keyframes menu-icon-top-2 {
  0% {
    top: .5rem;
    transform: rotate(45deg);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: .5rem;
    transform: rotate(135deg);
  }
}

@keyframes menu-icon-bottom-2 {
  0% {
    bottom: .5rem;
    transform: rotate(135deg);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes menu-icon-scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}



.menu-content {
  display: none;
  position: fixed;
  top: -100vh; /* Start from the top */
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 7;
  transition: top 0.5s, opacity 0.5s;
}

.menu-content a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
}

.menu-content a:hover {
  background-color: #566D7E;
  transform: scale(1.05); /* Increase the size when hovered */
  margin-left: 5px; /* Move it slightly to the right when hovered */
}

.navBtn {
  text-align: left;
  position: relative;
  left: 44px;
  top: 55px;
  font-size: clamp(18px, 3.4783vw + 0.3043rem, 3rem);
}
.close-btn {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: .007em;
  position: absolute;
  top: 27px;
  right: 44px;
  color: floralwhite;
  font-size: clamp(15px, 3.4783vw + 0.3043rem, 3rem);
  cursor: pointer;
}

.blur {
  filter: blur(4px);
  transition: filter 0.5s;
}

.menu-open .blur {
  filter: blur(0);
}
.slideshow-container {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
    }
    
    .slideshow {
      display: flex;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url(./images/groupWorkers.jpg); /* Add the URL of your initial background image */
      background-position: center;
      animation: slideshow-animation 7s infinite; /* for smooth transation */
    }
     /* for smoother transation */
    @keyframes slideshow-animation {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      75% {
          opacity: 1;
        }
        91% {
          opacity: 0.9;
        }
        92% {
          opacity: 0.8;
        }
        93% {
          opacity: 0.7;
        }
        94% {
          opacity: 0.6;
        }
        95% {
          opacity: 0.5;
        }
        96% {
          opacity: 0.4;
        }
        97% {
          opacity: 0.3;
        }
        98% {
          opacity: 0.2;
        }
        99% {
          opacity: 0.1;
        }
        
      100% {
        opacity: 0;
      }
    }

.header-conainers {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.service-intro-container {
  margin-bottom: 40px;
}

.service-intro {
  font-size: clamp(18px, 2.1783vw + 0.3043rem, 3rem);
    color: black;
}
.blue-squeare {
  width: 10px;
  background-color: #566D7E;
  margin-left: 20px;
}
.offer-span {
    color: #566D7E;
    font-size: clamp(18px, 2.3783vw + 0.6043rem, 3rem);
    font-weight: 720;
    letter-spacing: 1px;
    text-shadow: 0.3px 0.3px 0.3px #145214;
    transform: perspective(100px) rotateX(10deg);
}

.slideshow-container1 {
  max-width: 1000px;
  height: 28vh;
  min-height: 240px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  border-radius: 30px;
  height: 100%;
  display: none;
  overflow: hidden;
  min-height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.about-us {
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px 0px 10px 0;
  flex-direction: column;
  gap: 25px;
}

.about-us-insider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 90%;
  height: 100%;
  max-height: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-us-header{
    font-size: clamp(18px, 3.4783vw + 0.3043rem, 3rem); font-size: clamp(18px, 3.4783vw + 0.3043rem, 3rem);;
    letter-spacing: 1.2px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    transform: perspective(200px) rotateX(9deg);
}
.about-us-text {
  width: 90%;
  height: 95%;
  margin: auto;
  margin-bottom: 10px;
  line-height: 1.13199;
  letter-spacing: -0.022em;
  font-size: clamp(18px, 2.2783vw + 0.3043rem, 3rem);
  font-weight: 400;
  color: #566D7E;
}
.company-name {
  letter-spacing: 0;
  font-weight: 700;
  font-size: clamp(19px, 2.2783vw + 0.3043rem, 3.2rem);
}
.highlight {
  font-weight: 600;
}

.review-container {
  margin : 0 auto;
  width: 100%;
  min-height: 250px;
  max-height: 260px;
  min-width: 350px;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}
.review-slides {
  display: flex;
  height: 100%;
}
.review-slide {
  min-width: 100%;
}

.review-slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nextbtn, #pervbtn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: white;
}
#nextbtn:focus,
#pervbtn:focus {
  outline: none;
}


.review-effect {
  margin-top: 5px;
}


.review-insider {
  position: relative;
  width: 90%;
  height: 55%;
  background-color: #566D7E;
  z-index: 3;
  box-shadow: 2px 3px 3px #484848, 4px 4px 1px #626262;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
}
.user {
  font-size: clamp(12px, 3.4783vw + 0.3043rem, 3rem);
  margin-right: 30px ;
}
.user-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black; /* Added dotted black border */
}

.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 0.4px solid black; /* Added dotted black border */
}
.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.comment-para {
  width: 95%;
  font-size: clamp(16px, 1.9883vw + 0.3043rem, 3rem);
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.022em;
}
  .triangle {
    position: relative;
    top: -11px;
    right: -258px;
    width: 0;
    height: 0;
    border-top: 51px solid #566D7E;
    border-left: 48px solid transparent;
}



.interest-effect {
  margin-top: 5px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.interest-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.inside-layout {
  margin: auto;
  width: 95%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.inerest-pcontainers {
  display: flex;
  background-color: #f2f2f2;
  flex-grow: 1;
  width: 300px;
  height: 60px;
  align-items: center;
}
.squeares {
  width: 45px;
  max-width: 60px;
  height: 60px;
  background: #566D7E;
  font-size: clamp(20px, 3.4783vw + 0.3043rem, 3rem);
  font-weight: bold;
  color: white;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-conainers {
  align-items: center;
}
.interest-highliter {
  margin-bottom: 30px;
}
.interest-p {
  font-size: clamp(18px, 1.3783vw + 0.3043rem, 3rem);
  font-weight: 800;
  letter-spacing: 0.022em;
  color: #566D7E;
  margin: 0; /* Remove default margin from <p> */
}
.interest-header {
  font-size: clamp(18px, 2.1783vw + 0.5043rem, 3rem);
  font-weight: 600;
  }

  .end-section {
    width: 100%;
    height: 600px;
    background-color: #555;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #484848, -1px -1px 5px #626262;;
    margin-top: 150px;
  }
  .communication-container {
    padding: 35px 2px 2px 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .links-img {
    display: inline-block;
    width: 40px; /* Set width of the anchor (a) */
    height: 40px; /* Set height of the anchor (a) */
    overflow: hidden; /* Ensure the image doesn't overflow the anchor */

  }
  .links-background {
    background-color: #566D7E;
    border-radius: 10px;
  }
  
  .img-links {
    width: 100%; /* Make the image fill the anchor (a) */
    height: 100%; /* Make the image fill the anchor (a) */
    object-fit: cover; /* Maintain aspect ratio and cover the anchor (a) */
  }
  
  .span-social {
    margin-right: 10px; /* Add some spacing between the text and the images */
    color: #c9c9c9;
    font-size: clamp(12.8px, 2.9783vw + 0.3043rem, 3rem);
    font-weight: 900;
    margin-bottom: 6px;
    line-height: 1.8212;
  }
  .services-container {
    padding: 35px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }
  .a-services {
    text-decoration: none;
    font-size: clamp(11px, 1.8783vw + 0.3043rem, 3rem);
    color: #9c9b9b;
    font-weight: 200;
    line-height: 1.567;
  }
  .conclusion-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ending-header {
    color: #c9c9c9;
   font-size: clamp(12.8px, 2.8783vw + 0.3043rem, 3rem);
    font-weight: 900;
    margin-bottom: 6px;
    line-height: 1.8212;
  }
  .why-us-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px 0px 10px 0;
    flex-direction: column;
    gap: 15px;
  }
  .why-us-insider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    max-height: 900px;
    margin: auto;
    padding-top: 20px;
    background-color: #566D7E;
    box-shadow: 2px 3px 3px #484848, 4px 4px 1px #626262;
  }
  .why-us-p {
    width: 80%;
    height: 99%;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1.13199;
    letter-spacing: -0.022em;
    font-size: clamp(18px, 2.2783vw + 0.3043rem, 3rem);
    font-weight: 400;
    color: #f2f2f2;
  }

  .value-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px 0px 10px 0;
    flex-direction: column;
    gap: 15px;
  }
  .value-insider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 90%;
    height: 100%;
    max-height: 600px;
    margin: auto;
    padding-top: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .value-p {
    width: 80%;
    height: 95%;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1.13199;
    letter-spacing: -0.022em;
    font-size: clamp(18px, 3.4783vw + 0.3043rem, 3rem);
    font-weight: 400;
    color: #566D7E;
  }
/* cookies */
.cookies-container {
  width: 97%;
  margin: auto;
}
.cookies-subcontainer {
  width: 95%;
  margin: auto;
}
#cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #566d7ec9;
}
.cookies {
  min-height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cookies a {
  text-decoration: none ;
  font-weight: 600;
  color: #000000;
}
#cookies-btn {
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  font-size: clamp(1rem, 3.4783vw + 0.3043rem, 3rem);
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255);
  background-color: #000000;
  color: #ffffff;
}
.condition-links {
  font-size: clamp(1rem, 2.2783vw + 0.3043rem, 3rem);
}

/* cookies end*/

/* conditions */

.conditions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.condition-links {
  text-decoration: none;
  color: #000000;
}
.container-thrimg{
  display: flex;
  align-items: center;
  max-width: 375px;
  margin: 20px 0px 130px 0px
}
.img1-thrimg{
  height: 100%;
  width: 100%;
  position: relative;
  left: 51px;
  animation-name: img1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.img2-thrimg {
  height: 120%;
  width: 120%;
  position: relative;
  top: 43px;
  animation-name: img2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.img3-thrimg {
  height: 100%;
  width: 100%;
  position: relative;
  right: 30px;
  top: 82px;
  animation-name: img3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes img1 {
0% {
  transform: scale(1);
  z-index: 0;
}
5% {
  transform: scale(1.2);
  z-index: 1;
}

35% {
  transform: scale(1);
  z-index: 0;
}

}
@keyframes img2 {
0% {
  z-index: 0;
}
30% {
  transform: scale(1);
  z-index: 0;
}
35% {
  transform: scale(1.2);
  z-index: 1;
}
70% {
  transform: scale(1);
  z-index: 0;
}

}
@keyframes img3 {
  0% {
      z-index: 0;
  }
  65% {
      transform: scale(1);
      z-index: 0;
   }
  70% {
      transform: scale(1.2);
      z-index: 1;
  }
  100% {
      transform: scale(1);
      z-index: 0;
  }
}
@media screen and (min-width: 768px) {
  .starter-containter {
    padding: 10px;
  }
  .slideshow-container {
    height: 50vh;
  }
  .services-card-container {
    gap: 100px;
    height: 50vh;
    scrollbar-width: thin;
    -ms-overflow-style: none;
  }
  .services-links {
    width: 120px;
    height: 35px;
  }
  .blue-squeare {
    width: 15px;
    height: 47px;
  }
  .interest-why {
    display: flex;
    flex-direction: row;
  }
  .about-us {
    gap: 25px;
  }
  .about-us-insider{
    gap: 35px;
    max-height: none;
    width: 55%;
    margin-left: 10px;
  }
  .interest-main {
    width: 50%;
    position: relative;
    bottom: 138px;
  }
  .why-us-insider{
    max-height: none;
    width: 91%;
    perspective: 200px;
  }
  .why-us-container {
    position: relative;
    top: 77px;
  }
  .service-intro-container{
    margin-top: 150px;
  }
  .about-us {
    margin-bottom: 150px;
  } 
  .inside-layout{
    gap: 50px;
    margin-top: 80px;
  }
  .interest-containers{
    height: auto;
  }
  .squeares {
    height: 72px;
  }
  #service-squeare{
    width: 25px;
    height: 89px
  }
  .value-insider {
    margin-bottom: 50px;
  }
  .review-container{
    margin-top: 80px;
  }
  .end-section{
    height: auto;
  }
  .links-img {
    width: 60px;
    height: 60px;
  }
  .conditions-container{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }
 
}


@media screen and (min-width: 1440px) {
  .services-links {
    width: 59%;
    height: 81px;
  }
  .interest-why {
    display: flex;
    height: auto;
    flex-direction: row;
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-evenly;
}
  .interest-main {
    display: flex;
    flex-direction: column;
  }
  .squeares {
    height: 250px;
  }
  .interest-highliter {
    margin-left: 35px
  }
  .interest-blue {
    width: 60px;
    height: 110px;
  }
  .about-us-insider {
    width: 80%;
  }
  .inside-layout {
    gap: 50px;
    margin-top: 80px;
  }
}
